<div className="footerbox">
    <table >
     <th width = '650px'><h2 id = 'follow'>Follow Us</h2></th>

     <div id='contact'>
        <th text-align='center' width = '650px'>  <h2>Contact Us</h2></th></div>
        
     
     <tr> <td><div className="logos">
     
     <a href = "https://www.facebook.com/SCM-105278351954205/?ref=page_internal  " target = "_value" <img src = /static/fblogo><span></span>&nbsp; &nbsp; </a>
     <!-- <a href="https://www.facebook.com/SCM-105278351954205/?ref=page_internal" class="fa fa-facebook" target = "_value"></a> -->
     <a href = " https://www.linkedin.com/pulse/supply-chain-management-s-soumya-prasad" target = "_value"><span><img src = {link} /></span>&nbsp; &nbsp; </a>
    <span><img src = {insta} /></span>&nbsp; &nbsp; 
         
     </div></td>


    
     <td >
     <div id='td1'>
     <h4>MAIL</h4>
     <ol className="myul">
         <li>soumya01prasad@gmail.com </li>
         <li>Sampathladi123@gmail.com </li>
         <li>nirupammallem@gmail.com </li>
     </ol>  <div className="footerbox">
    <table >
    
        
     
     
     <h4>MOBILE NUMBER</h4>
     <ol  className="myul">
         <li>9668744664</li>
         <li>6372624338</li>
         <li>6302547642</li>
     </ol>
     <h4> ADDRESS </h4>
    <p>Green fields, vaddeswaram- 522502<br></br>Guntur Dist. A.P.<br></br>Ph: 08645-350200</p></div></td></tr>
      </table>
    
    
 
    
    
  </div>