{% extends 'partials/base.htm' %}
{% block title %}Register Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% comment %} {{ form }} {% endcomment %}
                <input class="btn btn-success" type="submit" value="Register">
            </form>
        </div>
    </div>
</div>


{% endblock %}